{% load static i18n %}
<script type="text/javascript">
    MapEntity.i18n['Paths'] = "{% trans "Paths" %}";

    window.SETTINGS.urls['path_layer'] = "{% url "core:path_layer" %}";
    window.SETTINGS.urls['path_graph'] = "{% url "core:path_json_graph" %}";
</script>
<script type="text/javascript" src="{% static "core/main.js" %}"></script>
<script type="text/javascript" src="{% static "core/jquery.scrollTo.js" %}"></script>
<script type="text/javascript" src="{% static "core/jquery.aSimpleTour.js" %}"></script>

<script type="text/javascript">
  if (window.location.pathname == '/trek/list/') {
    if (localStorage.getItem("/trek/list/1") != 'false') {
      console.log(localStorage.getItem("/trek/list/1"));
      $(document).ready(function() {
        options = {
          data : [
            { element: '#objects-list', 'tooltip' : 'Nous avons déjà dessiné certains itinéraires sur votre territoire', position : 'R'},
            { element: '#objects-list', 'tooltip' : 'Ce module permet de décrire les itinéraires de l’offre de randonnée pour le grand public, d’associer des illustrations et de gérer les contenus par langue. Il permet aussi d’ajouter des liens web, des fichiers sons et vidéos.', position : 'R'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Ce bouton permet d\'ajouter un nouvel itinéraire'},
            { 'tooltip' : 'Ce bouton permet d\'ajouter un nouvel itinéraire'}
          ],
          welcomeMessage: 'Suivez ce guide pour découvrir les fonctionnalités principales de l\'application. Pendant cette introduction, vous n\'avez pas à écrire de texte ou à cliquer sur la carte : cliquez simplement sur "Suivant" à chaque étape.',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Suivant &rarr', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
    if (localStorage.getItem("/trek/list/2") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '.odd:first', 'tooltip' : 'En sélectionnant un itinéraire déjà créé, vous accédez à l’ensemble des éléments saisis'},
            { element: '.odd:first', 'tooltip' : 'Vous pourrez modifier toutes les informations préalablement saisies ainsi que les tracés'},
            { element: 'a[href="/poi/list/"]:last', 'tooltip' : 'Allons maintenant voir les POIs', position : 'R'},
            { 'tooltip' : 'Allons maintenant voir les POIs'}
          ],
          welcomeMessage: 'Le nouvel itinéraire sera créé et apparaitra dans la liste.',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Suivant &rarr', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
  if (window.location.pathname == '/trek/add/') {
    if (localStorage.getItem("/trek/add/1") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '#modelfields', 'tooltip' : 'Différents champs permettent de renseigner les caractéristiques des itinéraires.', position : 'R'},
            { element: '.nav-pills:first', 'tooltip' : 'Ils peuvent être décrits en plusieurs langues, qui seront utilisées sur le portail randonnée "Geotrek-Rando".', position : 'R'},
            { element: '.leaflet-draw-draw-polyline', 'tooltip' : 'Sur la carte, ce bouton permet de dessiner un itinéraire.', position : 'R'},
            { element: '.leaflet-draw-draw-marker:first', 'tooltip' : 'Ce bouton permet d\'ajouter des points de référence sur la carte, qui pourront être utilisés dans la description pour les étapes importantes de l\'itinéraire.', position : 'R'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Une fois les caractéristiques remplies et l\'itinéraire dessiné, cliquez sur Créer pour l\'ajouter.', position : 'L'},
            { 'tooltip' : 'Une fois les caractéristiques remplies et l\'itinéraire dessiné, vous pourrez cliquer sur Créer pour l\'ajouter.', position : 'L'}
          ],
          welcomeMessage: 'Vous voici dans l\'interface pour ajouter, dessiner un itinéraire',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Suivant &rarr', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
  if (window.location.pathname == '/poi/list/') {
    if (localStorage.getItem("/poi/list/1") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '#objects-list', 'tooltip' : 'Cela permet de localiser et de décrire les patrimoines à valoriser le long des itinéraires (nom, type, description et photos).', position : 'R'},
            { element: '#objects-list', 'tooltip' : 'Ils sont publiés par langue.', position : 'R'},
            { element: 'a[href="/touristiccontent/list/"]:last', 'tooltip' : 'Module Activités touristiques', position : 'R'},
            { element: 'a[href="/touristiccontent/list/"]:last', 'tooltip' : 'Cela permet de localiser et de décrire les activités touristiques du territoire.', position : 'R'},
            { element: 'a[href="/touristiccontent/list/"]:last', 'tooltip' : 'Diverses catégories sont proposées (hébergement, restauration, …)', position : 'R'},
            { element: 'a[href="/touristicevent/list/"]:last', 'tooltip' : 'Module Évènements touristiques', position : 'R'},
            { element: 'a[href="/touristicevent/list/"]:last', 'tooltip' : 'Permet de créer tout évènement culturel en précisant les dates, la durée, le lieu, son descriptif etc.', position : 'R'},
            { element: '.nav.pull-right:last', 'tooltip' : 'Via un compte “administrateur” vous avez la possibilité de paramétrer l’ensemble des champs, listes etc. composant les menus', position : 'L'},
            { element: '#filters-btn', 'tooltip' : 'Vous avez la possibilité d\'effectuer des recherches à travers différents filtres', position : 'R'},
            { element: '.leaflet-control-layers-toggle:last', 'tooltip' : 'La légende vous donne la possibilité d’activer ou non les couches d’informations. Différents fonds de plan peuvent être disponibles : OSM, IGN, ortho…', position : 'L'},
            { element: '#list-download-toolbar', 'tooltip' : 'Possibilité d’exporter les données en CSV ou Shapefile ou GPX', position : 'R', controlsPosition: 'BR'},
            { element: '#objects-list_filter', 'tooltip' : 'Ou d’effectuer une recherche', position : 'T', controlsPosition: 'BR'},
          ],
          welcomeMessage: 'Retrouvez les mêmes fonctionnalités pour saisir vos POIs',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Suivant &rarr', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
</script>