{% load static i18n %}
<script type="text/javascript">
    MapEntity.i18n['Paths'] = "{% trans "Paths" %}";

    window.SETTINGS.urls['path_layer'] = "{% url "core:path_layer" %}";
    window.SETTINGS.urls['path_graph'] = "{% url "core:path_json_graph" %}";
</script>
<script type="text/javascript" src="{% static "core/main.js" %}"></script>
<script type="text/javascript" src="{% static "core/jquery.scrollTo.js" %}"></script>
<script type="text/javascript" src="{% static "core/jquery.aSimpleTour.js" %}"></script>

<script type="text/javascript">
  if (window.location.pathname == '/path/list/') {
    if (localStorage.getItem("/path/list/1") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '#objects-list', 'tooltip' : 'Nous avons déjà ajouté certains tronçons sur votre territoire', position : 'R'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Ce bouton permet d\'ajouter un nouveau tronçon'},
            {'tooltip' : 'Ce bouton permet d\'ajouter un nouveau tronçon'}
          ],
          welcomeMessage: 'Bienvenue dans Geotrek ! Suivez ce guide pour découvrir les fonctionnalités principales de l\'application. Pendant cette introduction, vous n\'avez pas à écrire de texte ou à cliquer sur la carte : cliquez simplement sur "Suivant" à chaque étape.',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Suivre le guide', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
    if (localStorage.getItem("/path/list/2") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: 'a[href="/trek/list/"]:last', 'tooltip' : 'Allons maintenant voir les itinéraires', position : 'R'},
            { 'tooltip' : 'Allons maintenant voir les itinéraires', position : 'R'}
          ],
          welcomeMessage: 'Le tronçon ajouté apparaitra dans la liste',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Continuer', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
  if (window.location.pathname == '/path/add/') {
    if (localStorage.getItem("/path/add/1") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '#modelfields', 'tooltip' : 'Renseignez ses différentes caratéristiques', position : 'R'},
            { element: '.leaflet-draw-draw-polyline', 'tooltip' : 'Puis cliquez sur ce bouton pour dessiner une nouvelle ligne', position : 'R'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Une fois les caractéristiques remplies et le tronçon dessiné, cliquez sur Créer pour l\'ajouter', position : 'L'},
            { 'tooltip' : 'Une fois les caractéristiques remplies et le tronçon dessiné, cliquez sur Créer pour l\'ajouter', position : 'L'}
          ],
          welcomeMessage: 'Vous voici dans l\'interface d\'ajout d\'un tronçon',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Continuer', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
  if (window.location.pathname == '/trek/list/') {
    if (localStorage.getItem("/trek/list/1") != 'false') {
      console.log(localStorage.getItem("/trek/list/1"));
      $(document).ready(function() {
        options = {
          data : [
            { element: '#filters-btn', 'tooltip' : 'Vous pouvez les filtrer suivant différents critères', position : 'R'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Cliquer sur ce bouton pour ajouter un nouvel itinéraire'},
            { 'tooltip' : 'Cliquer sur ce bouton pour ajouter un nouvel itinéraire'}
          ],
          welcomeMessage: 'Les itinéraires utilisent le réseau de tronçons que nous avons vu précédemment',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Continuer', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
    if (localStorage.getItem("/trek/list/2") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '#historylist', 'tooltip' : 'Les POI'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Les POI'}
          ],
          welcomeMessage: 'Nouvel iti',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Continuer', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
  if (window.location.pathname == '/trek/add/') {
    if (localStorage.getItem("/trek/add/1") != 'false') {
      $(document).ready(function() {
        options = {
          data : [
            { element: '#modelfields', 'tooltip' : 'Différents champs permettent de renseigner les caractéristiques des itinéraires.', position : 'R'},
            { element: '.nav-pills:first', 'tooltip' : 'Ils peuvent être décrits en plusieurs langues, qui seront utilisées sur le portail randonnée.', position : 'R'},
            { element: '.linetopology-control', 'tooltip' : 'Sur la carte, ce bouton permet de dessiner un itinéraire qui s\'appuyera sur le réseau de tronçons.', position : 'R'},
            { element: '.leaflet-draw-draw-marker:first', 'tooltip' : 'Ce bouton permet d\'ajouter des points de référence sur la carte, qui pourront être utilisés dans la description pour les étapes importantes de l\'itinéraire.', position : 'R'},
            { element: '.btn.btn-success:last', 'tooltip' : 'Une fois les caractéristiques remplies et l\'itinéraire dessiné, cliquez sur Créer pour l\'ajouter.', position : 'L'},
            { 'tooltip' : 'Une fois les caractéristiques remplies et l\'itinéraire dessiné, cliquez sur Créer pour l\'ajouter.', position : 'L'}
          ],
          welcomeMessage: 'Vous voici dans l\'interface d\'ajout d\'un itinéraire',
          controlsPosition: 'BL',
          buttons: { next : 'Suivant &rarr;', prev : '&larr; Précédent', start : 'Continuer', end: 'Quitter' }
        };
        $.aSimpleTour(options);
      });
    };
  };
</script>